# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear

*.tar.gz


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Project/Loothub/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Project/Loothub/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Project/Loothub/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Project/Loothub/target/surefire-reports/com.company.springboot.RegistrationLoginAthaurizationSpringBootApplicationTests.txt
Project/Loothub/target/surefire-reports/TEST-com.company.springboot.RegistrationLoginAthaurizationSpringBootApplicationTests.xml
Project/Loothub/src/main/resources/application.properties
Project/Loothub/target/classes/application.properties
Project/Loothub/target/Loothub-0.0.1-SNAPSHOT.jar.original
Project/Loothub/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Project/Loothub/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Project/Loothub/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Project/Loothub/target/surefire-reports/com.company.springboot.RegistrationLoginAthaurizationSpringBootApplicationTests.txt
Project/Loothub/target/surefire-reports/TEST-com.company.springboot.RegistrationLoginAthaurizationSpringBootApplicationTests.xml
