 body {
   background-color: #F1F1F1;
   color: black;
 }

 a.btn.nav-link.text-muted:hover {
   color: rgb(43, 43, 43) !important;
 }

 .card {
   background-color: AliceBlue;
 }

 .card:hover{
  box-shadow: ;

 }
 .carousel-inner {
   background-color: AliceBlue;
 }

 #search{

  background-color: rgb(88,203,241);
  
 }

 #img{

    padding-top:50%;
 }

 #card1{
    background-color: #1D84B0;
 }

 #card2{
  background-color: #FEB555;
}

#card3{
  background-color: #A2A2A2;
}

#card4{
  background-color: #DD6C75;
}

 