 body {
   background-color: #F1F1F1;
   color: black;
 }

 a:hover {
   color: rgb(43, 43, 43) !important;
 }

 .card {
   background-color: AliceBlue;
 }

 .card:hover{
  box-shadow: ;

 }
 .carousel-inner {
   background-color: AliceBlue;
 }

 #search{

  background-color: rgb(88,203,241);
  
 }

 #img{

    padding-top:50%;
 }

 