<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/productsRest.js"></script>   
</head>
<body>
    <div id="content">
        <div id="content-data">The data from the Grocery Store Service:<br/>
            
            <p id="category">Category: </p>
            <p id="description">Description: </p>
            <p id="id">id: </p>
            <p id="name">Name: </p>
            <p id="price">Price: </p>
        </div>
    </div>
    
    
    
</body>
</html>