 body {
   background-color: #F1F1F1;
   color: black;
 }

 a.btn.nav-link.text-muted:hover {
   color: rgb(43, 43, 43) !important;
 }

 button.btn.nav-link.text-muted.dropdown-toggle:hover {
  color: rgb(43, 43, 43) !important;
}


 .card {
   background-color: AliceBlue;
 }
 
 


 #search{

  background-color: rgb(88,203,241);
  
 }

 #img{

    padding-top:30%;
 }

 #imghome{
  width:120px;
  padding-right: 5px;
 }

 #card1, #carousel1{
    background-color: #1D84B0;
 }

 #card2, #carousel2{
  background-color: #FEB555;
}

#card3, #carousel3{
  background-color: #A2A2A2;
}

#card4, #carousel4{
  background-color: #DD6C75;
}

#cardprofile{
  background-color: #F1F1F1;

}

#textcolor1{
  color: #1D84B0;

}
#textcolor2{
  color: #FEB555;

}
#textcolor3{
  color: #A2A2A2;

}

#textcolor4{
  color: #DD6C75;

}

.dropdown-menu{
  background-color: #F1F1F1;
}
 
#loginform{

  display: none;
}

table {
    border: 0;
}

table td {
    padding: 10px;
}


img {
    width: 100%
}


.card-title {
    padding-top: 25px;
    justify-content: space-between;
    margin-top: 25px;
    border: 2px solid #21B6E7;
    background-color: #21B6E7;
}

.register {
    font-size: 10px;
    position: relative;
    bottom: 5px
}

.cvc {
    width: 2.5em;
    position: absolute
}

.footer {
    background-color: #00BCD4;
    color: white
}

.footer:hover {
    cursor: pointer;
    background-color: #0097A7
}

.numbr {
    border-bottom: 1px solid #c1bcbc;
    padding-bottom: 8px
}

.line2 {
    border-bottom: 1px solid #c1bcbc;
    padding-bottom: 8px;
    padding-left: 0px
}

input.focus,
input:focus {
    outline: 0;
    box-shadow: none !important
}

.numbr.numbr.hover,
.numbr:hover {
    border-bottom: 1px solid aqua
}

.line2.hover,
.line2:hover {
    border-bottom: 1px solid aqua
}

.fa-lock {
    margin-right: 10px
}

.order {
    margin-top: 10px
}

label.error {    
    color: red;
    
}